@model IEnumerable<TaskApp.Models.TaskModel>
@{
    ViewData["Title"] = "Tareas";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
@foreach(var item in Model){
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">@item.NameTask</h5>
        <p class="card-text">@item.Description</p>
       <p><span class="badge bg-secondary">@item.State</span></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
}
</div>

